.bottom-btn-container{
    margin-top : 20px;
}

.bottom-btn-container .left-btn{
    text-align: left;
}

.bottom-btn-container .center-btn{
    text-align: center;
}

.bottom-btn-container .right-btn{
    text-align: right;
}


.tournament_list_wrapper{
    margin-top : 30px;
    padding-left : 40px;
    padding-right : 40px;
}

.tournament_tile{
    display : inline-block;
    height : 200px;
    width : 200px;
    background-color: #2F6F99;
    margin-top : 20px;
    margin-right : 20px;
    text-align : center;
    line-height: 200px;
    font-weight : 100;
    font-size : 22px;
    color : #ffffff;
    font-family: 'Roboto', sans-serif;
}

.add-tile{
    font-size : 2em;
}

.enabled_tile{
    background-color: #0080B2;
}

.disabled_tile{
    background-color: #FF9A2A;
}

