body{
    /* Thème sombre pour bosser dans le noir  */
    background-color: #2F303D;
    color: #D3DBC5;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

.modal{
    color: #000000;
}

.day-row:hover{
    color: #000000;
    cursor: pointer;
}

.bottom-btn-container{
    margin-top : 20px;
}

.bottom-btn-container .left-btn{
    text-align: left;
}

.bottom-btn-container .center-btn{
    text-align: center;
}

.bottom-btn-container .right-btn{
    text-align: right;
}


.tournament_list_wrapper{
    margin-top : 30px;
    padding-left : 40px;
    padding-right : 40px;
}

.tournament_tile{
    display : inline-block;
    height : 200px;
    width : 200px;
    background-color: #0080B2;
    margin-top : 20px;
    margin-right : 20px;
    text-align : center;
    line-height: 200px;
    font-weight : 100;
    font-size : 22px;
    color : #ffffff;
    font-family: 'Roboto', sans-serif;
}

.tournament_tile .div_into_tournament_title{
    width:200px;
    padding:10px; /* aération interne du bloc */
    vertical-align:middle;
    display:inline-block;
    line-height:1.2; /* on rétablit le line-height */
    text-align:center;
}

.tournament_tile .div_into_tournament_title p{
    color:white;
}

.tournament_tile .div_into_tournament_title a:hover{
    text-decoration: none;
}

.add-tile{
    font-size : 1.7em;
}

.enabled_tile{
    background-color: #4F805D;
}

.disabled_tile{
    background-color: #FF9A2A;
}

.pool-container{
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    text-shadow: 1px 1px 5px #000000;
}

.match-row:hover{
    cursor: pointer;
}


.match-row.programed{
    background-color: #1EB251;
}

.match-row.programed:hover{
    background-color: #00B23D;
}

.match-row.unprogramed{
    background-color: #FF362F;
}

.match-row.unprogramed:hover{
    background-color: #CD0700;
}

