body{
    background-color:white;
    padding: 15px;
    color:black;
}

#federation-logo{
    width:100px;
}


.ariane-thread{
    font-size: 1.5em;
    font-weight: 300;
}

.ariane-thread a{
    color: inherit;
}

.ariane-thread a:hover{
   color: #ffffff;
    text-decoration: none;
}

.timer{
    text-align: center;
    font-size: 3em;
}

.timer-minutes{
    font-weight: 900;
}

.time-controls button{
    font-weight: 700;
    text-shadow: 1px 1px 2px #000000;
}

.referee-control{
    display: none;
}

.team-container{
    text-align: center;
}


.score-container{
    font-size: 3em;
}
.name-player{
    text-transform: uppercase;
    font-weight: bold;
}

.score-btn{
    line-height: 1em;
    font-size: 0.2em;
    cursor: pointer;
}

.team-name{
    font-size: 2em;
}

.match-infos{
    text-align: center;
    font-size : 1.5em;
}


.card{
    display: inline-block;
    height: 2em;
    line-height: 2em;
    width: 1.5em;
    font-size: 1.5em;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    border-radius: 0.25em;
    box-shadow: 0 0 6px #000000;
}

.card-btn{
    font-size: 2em;
    cursor: pointer;
}

.yellow-card{
    background-color: yellow;
}

.red-card{
    background-color: red;
}

.div-print-match{
    margin: 15px 0 15px 0;
}

#div-signature-arbitre{
    margin: 100px 0 100px 0;
}

#div-observation{
    margin-bottom: 100px;
}
@media print {
    @page { margin: 0; }
    body { margin: 1.6cm; }
}