.tie{
    background-color: grey;
    background-image: url('assets/smiley_tie_white.png');
}

.win{
    background-color: green;
    background-image: url('assets/smiley_win_white.png');
}

.loose{
    background-color: red;
    background-image: url('assets/smiley_loose_white.png');
}

.win, .loose, .tie{
    background-size: 3.8em;
    background-position: 90% center;
    background-repeat: no-repeat;
}

.played-matches{
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    text-shadow: 1px 1px 5px #000000;
}

.played-match-row{
    cursor: pointer;
    height: 4em;
}

.played-match-result{
    line-height: 4em!important;
}

.last-match-container{
    border: 1px solid #dddddd;
    padding: 2em;
    text-align:center;
    font-size: 2.5em;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
}

.last-match-container.win,.last-match-container.loose,.last-match-container.tie{
    background-position: center;
}

.team-score{
    text-align: right;

}

.lastmatch-team-name{
}

.lastmatch-team-score-left{
    text-align: right;
}

.lastmatch-team-score-right{
    text-align: left;
}