{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur notre page d'accueil</h1>
    <div class="row">
        <div class="tournament_list_wrapper">
            {% for tournament in tournaments %}
                <a href="{{ path('edit_tournament',{'tournamentId': tournament.id })}}">
                    <div class="tournament_tile {% if tournament.enabled %}enabled_tile{% else %}disabled_tile{% endif %}">
                        {{ tournament.name }}
                    </div>
                </a>
            {% endfor %}
            {% if true %}

                <a href="{{ path('create_tournament')}}">
                    <div class="tournament_tile">
                        Ajouter un tournoi
                    </div>
                </a>

            {% endif %}
        </div>
    </div>
{% endblock %}