{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur notre page d'accueil</h1>
    <div class="row">
        <div class="tournament_list_wrapper">
            {% for tournament in tournaments %}
                <div class="col-md-3">
                    <div class="tournament_tile">
                        {{ tournament.name }}
                    </div>
                </div>
                <div class="col-md-1"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}