{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success center-block">Valider le tournoi</button>
        </div>
    </div>

    <div class="bottom-btn-container">

        <div class="col-md-4">
            <div class="left-btn">
                <a class="btn btn-default" href="{{ url('add_teams',{'tournamentId':tournament.id}) }}"><span class="glyphicon glyphicon-chevron-left"></span> Précédent</a>
            </div>
        </div>


    </div>

{% endblock %}