<div class="row">

    <div class="col-md-6 col-md-offset-3">
        <table id=" days_container" class="table table-hover">
            <thead>
            <tr>
                <th class="text-center">Date</th>
            </tr>
            </thead>

            <tbody>
            {% for day in tournament.days %}
                <tr>
                    <td class="day-row text-center" data-id="{{ day.id }}">{{ day.date|date('d/m/Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>


</div>
